<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Регистрация</title>
  <link rel="stylesheet" href="/css/register.css">
</head>
<body>

<h1>Регистрация</h1>

<form class="form-container" th:action="@{/register}" method="post" th:object="${user}">
  <label for="firstName">Имя</label>
  <input type="text" id="firstName" th:field="*{firstName}" placeholder="Name..." required>

  <label for="lastName">Фамилия</label>
  <input type="text" id="lastName" th:field="*{lastName}" placeholder="Surname..." required>

  <label for="middleName">Отчество</label>
  <input type="text" id="middleName" th:field="*{middleName}" placeholder="Patronymic...">

  <label for="phone">Введите номер телефона</label>
  <div class="input-wrapper">
    <input type="tel" id="phone" th:field="*{phone}" placeholder="+7..." required>
    <div class="checkmark">✔</div>
  </div>

  <label for="code">Введите код из СМС</label>
  <div class="input-wrapper">
    <input type="text" id="code" th:field="*{smsCode}" placeholder="..." required>
    <div class="checkmark">✔</div>
  </div>

  <button class="submit-btn" type="submit">Зарегистрироваться</button>
</form>

</body>
</html>
